apiVersion: v1
kind: Namespace
metadata:
  name: wangjq
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: spring-boot-demo-configmap
  namespace: wangjq
data:
  application.properties: |
    env=local
    msg=this is local env properteis.
  mysql.properteis: |
    mysql.hostname=10.10.10.10
    mysql.port=3333
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: spring-boot-demo
  namespace: wangjq
  labels:
    app: spring-boot-demo
spec:
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: spring-boot-demo
  template:
    metadata:
      labels:
        app: spring-boot-demo
    spec:
      containers:
      - name: spring-boot-demo
        image: spring-boot-demo:latest
        imagePullPolicy: IfNotPresent
        args: ["--spring.config.location=application.properties,mysql.properties"]
        ports:
        - containerPort: 8080
        volumeMounts:
        - name: spring-boot-demo-config
          mountPath: /opt/application.properties
          subPath: application.properties
        - name: spring-boot-demo-config
          mountPath: /opt/mysql.properties 
          subPath: mysql.properties   
      volumes:
      - name: spring-boot-demo-config
        configMap:
          name: spring-boot-demo-configmap
          items:
            - key: application.properties
              path: application.properties 
            - key: mysql.properties
              path: mysql.properties  
---
apiVersion: v1
kind: Service
metadata:
  name: spring-boot-demo
  namespace: wangjq
  labels:
    app: spring-boot-demo
spec:
  type: NodePort 
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
      nodePort: 32808
  selector:
    app: spring-boot-demo